.textContainer {
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 12%;
}
.slideShowContainer {
  padding: 0;
}
.slideImage {
  height: 90vh;
}
