.RAndDbanner {
  width: 100%;
  height: 65vh;
  background-image: url("../../assets/research-development.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
}
.RAndDImage {
  width: 20rem;
}
.RAndDTextContent {
  padding: 2rem 0 1rem 0;
}
@media screen and (max-width: 1023px) {
  .RAndDTextContent {
    padding: 2rem 1rem 1rem 1rem;
  }
}
